# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environment files
.env
.venv/

# dynamic versioning
*/_version.py